@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hide {
  display: none;
}
#banner {
  background:
    linear-gradient(rgba(0, 0, 0, 0.4), #790101), url("img/banner.avif");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo {
  width: 140px;
  position: absolute;
  top: 4%;
  left: 10%;
}
.banner__text {
  text-align: center;
  color: #fff;
  padding-top: 180px;
}
.banner__text h1 {
  font-size: 130px;
  font-family: "Kaushan Script", cursive;
}
.banner__text p {
  font-size: 20px;
  font-style: italic;
}
.banner__btn {
  margin: 70px auto 0;
}
.banner__btn a {
  width: 150px;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  padding: 12px 0;
  color: #fff;
  border: 0.5px solid #fff;
  position: relative;
  z-index: 1;
  transition: color 0.5s;
}

.banner__btn a span {
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  z-index: -1;
  transition: 0.5s;
}
.banner__btn a:hover span {
  width: 100%;
}
.banner__btn a:hover {
  color: #000;
}
#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #790101;
  z-index: 2;
  color: #fff;
  transition: 500ms;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}

#menuBtn {
  width: 50px;
  height: 50px;
  background: #790101;
  text-align: center;
  position: fixed;
  right: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  color: #fff;
  cursor: pointer;
}
#menuBtn img {
  width: 20px;
  margin-top: 15px;
}

@media (max-width: 770px) {
  .banner__text h1 {
    font-size: 40px;
  }
  .banner__btn a {
    display: block;
    margin: 20px auto;
  }
  #banner {
    height: 85vh;
  }
}
/* ----- FEATURES SECTION ----- */

#feature {
  width: 100%;
  padding: 70px 0;
}
.title__text {
  text-align: center;
  padding-bottom: 70px;
}
.title__text p {
  /* margin: auto; */
  font-size: 20px;
  color: #790101;
  font-weight: bold;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.title__text p::after {
  content: "";
  width: 50px;
  height: 35px;
  background: linear-gradient(#790101, #fff);
  position: absolute;
  top: -20px;
  left: 0;
  z-index: -1;
  transform: rotate(10deg);
  border-top-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

.title__text h1 {
  font-size: 50px;
}
.feature__box {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.features {
  flex-basis: 50%;
}
.features__img {
  flex-basis: 50%;
  margin: auto;
}
.features__img img {
  width: 70%;
  border-radius: 10px;
}

.features h1 {
  text-align: left;
  margin-bottom: 10px;
  font-weight: 200;
  color: #790101;
}
.features__desc {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.feature__icon .fa-solid {
  width: 50px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  border-radius: 8px;
  color: #790101;
  border: 1px solid #790101;
}

.feature__text p {
  padding: 0 20px;
  text-align: initial;
}
@media (max-width: 770px) {
  .title__text h1 {
    font-size: 35px;
  }
  .features {
    flex-basis: 100%;
  }
  .features__img {
    flex-basis: 100%;
  }
  .features__img img {
    width: 100%;
  }
}

/* ----- SERVICES SECTION ----- */

#service {
  width: 100%;
  padding: 70px 0;
  background: #efefef;
}
.service__box {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.single__service {
  flex-basis: 48%;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 20px;
  color: #fff;
  position: relative;
}
.single__service img {
  width: 100%;
  border-radius: 7px;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #790101);
  opacity: 0;
  transition: 1s;
}
.single__service:hover .overlay {
  opacity: 1;
}
.service__desc {
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  transition: 1s;
}
hr {
  background: #fff;
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.service__desc p {
  font-size: 14px;
}
.single__service:hover .service__desc {
  bottom: 40%;
  opacity: 1;
}
@media (max-width: 770px) {
  .single__service {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .service__desc p {
    font-size: 12px;
  }
  hr {
    margin: 5px auto;
  }
  .single__service:hover .service__desc {
    bottom: 25% !important;
  }
}
/* ----- TESTIMONIAL SECTION ----- */

#testimonial {
  width: 100%;
  padding: 70px 0;
}
.testimonial__row {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimonial__col {
  flex-basis: 28%;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 20px 3px #f3dada;
  cursor: pointer;
  transition: transform 500ms;
}
.testimonial__col p {
  font-size: 14px;
  line-height: 145%;
}
.user {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.user img {
  width: 40px;
  margin-right: 20px;
  border-radius: 3px;
}
.user__info i {
  margin-left: 10px;
  color: #790101;
  font-size: 20px;
}
.user__info small {
  color: #790101;
}
.testimonial__col:hover {
  transform: translateY(-7px);
}
@media (max-width: 770px) {
  .testimonial__col {
    flex-basis: 100%;
  }
}

/* ----- FOOTER SECTION ----- */
#footer {
  padding: 100px 0 20px;
  background: #efefef;
  position: relative;
}
.footer__row {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__row h1 {
  margin: 10px 0;
}
.footer__left,
.footer__right {
  flex-basis: 45%;
  padding: 10px;
}
.footer__right {
  text-align: right;
}

.footer__right i,
.footer__left i {
  font-size: 20px;
  margin: 10px;
  line-height: 30px;
  color: #790101;
}
.footer__img {
  max-width: 300px;
  opacity: 0.1;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}
.social__links {
  text-align: center;
}
.social__links i {
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  border: 1px solid #790101;
  color: #790101;
  cursor: pointer;
  margin: 40px 5px 0;
  transition: all 500ms;
}
.social__links i:hover {
  background: #790101;
  color: #fff;
  transform: translateY(-10px);
}
.social__links p {
  font-size: 12px;
  margin-top: 20px;
}
@media (max-width: 770px) {
  .footer__left,
  .footer__right {
    flex-basis: 100%;
    font-size: 14px;
    text-align: center;
  }
  .footer__img {
    top: 20%;
    max-width: 250px;
  }
}
